$("#like_<%= @findpost.id %>").html('<a data-remote="true" rel="nofollow" data-method="post" href="/posts/<%= @findpost.id %>/likes"><p><i class="far fa-heart"></i> Me gusta</p></a> ')
$("#like_stats_<%= @findpost.id %>").html('<p><%= @findpost.likes.count %> Me gusta</p>')