/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
}

.navbar {
    width: 100%;
    padding: 10px 15%;
    background-color: rgb(242, 242, 242);
    position: fixed;
    margin-bottom: 30px;
    z-index: 3;
}

.nav {
    display: none;
}

.navbar-thumbnail,
.footer-thumbnail {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.foot-menu{
    cursor: pointer;
}

.nav-item {
    margin-left: 15px;
}

.footer {
    display: none;
}

.menu {
    position: absolute;
    right: 180px;
    top: 50px;
    min-width: 200px;
    height: 150px;
    min-height: 150px;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    display: none;
}

.menu li {
    list-style-type: none;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 5px 10px;
}

.menu li:hover {
    background-color:rgb(193, 193, 193);
    border-radius: 5px;
}

.menu a {
    outline: none;
    text-decoration: none;
    color: rgb(110, 127, 145);
    font-weight: bold;
}

.menu-list {
    
    padding: 20px 10px;
}

/* fontawesome icons <i> */

.fas {
    color: rgb(151, 169, 188);
    font-size: 30px;
}

.fas:hover {
    color:  rgb(96, 114, 131);
}

.fa-bell {
    cursor: pointer;
}

/* Profile Styles */
.profile-thumbnail {
    border-radius: 50%;
    width: 15%;
}

.profile {
    width: 100%;
    min-height: 150px;
    padding: 40px 15%;
    margin-bottom: 40px;
}

.profile-media-wrapper {
    width: 35%;
    margin-left: 15%;
    padding: 0;
}

.profile-post-wrapper {
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgb(242, 242, 242);
    margin-bottom: 40px;
}

.profile-post-wrapper .head {
    width: 90%;
    margin-left: 4%;
    margin-top: 15px;    
}

.profile-post-avatar {
    width: 10%;
    display: inline;
}

.profile-post-title {
    width: 80%;
    float: right;
}

.profile-post-title p {
    margin: 0;
}

.profile-post-content {
    width: 90%;
    margin-left: 4%;
    padding-bottom: 15px;
}

.profile-images, 
.profile-videos {
    margin-bottom: 10px;
}

.profile-post-wrapper .post-stats,
.profile-post-wrapper .post-interactions,
.profile-post-wrapper .comments-section {
    background-color: #f8f8f8;
}

.profile-post-wrapper .comments-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-post-wrapper .comments-section a {
    text-decoration: none;
    outline: none;
    color: #60728d;
}

.profile_image, 
.profile_video {
    width: 100%;
}

.avatar-section {
    width: 40%;
    display: inline;
    padding-left: 15%;
}

.name {
    display: flex;
    align-items: flex-start;
}

.edit-button {
    padding: 3px 10px;
    border-radius: 5px;
    background-color: rgb(96, 114, 131);
    color: white;
    text-decoration: none;
    height: 30px;
    margin-left: 20px;
}

.edit-button:hover {
    color: rgb(181, 195, 208);
}

.details-section {
    width: 67%;
    float: right;
}

.details-section ul {
    list-style-type: none;
    padding: 0;
}

.details-section li {
    margin-right: 10px;
}

.media {
    width: 300px;
}

.test li {
    list-style-type: none;
    margin-right: 5px;
}

/* image and video uploads to posts */
.btn-file {
    position: relative;
    overflow: hidden;
	margin: 10;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Cards for posts */

.feed {
    width: 100%;
    z-index: 1;
    padding-top: 40px;
}

.search-section {
    width: 27.5%;  
    margin-right: 10%; 
    position: fixed;
    right: 0;
    border: 1px solid rgb(242, 242, 242);
    background-color: rgb(242, 242, 242);
}

.search-bar {
    width: 82%;
    margin: 15px 9%;
}

.search-bar input {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    outline: none;
}

.search-submit {
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(96, 114, 131);
    float: right;
    margin-top: 14px;
    margin-bottom: 13px;
}

.post-new {
    width: 27.5%;  
    margin-right: 10%; 
    border: 1px solid rgb(242, 242, 242);
    position: fixed;
    right: 0;
    margin-top: 128px;
    background-color: rgb(242, 242, 242);
}

.demo {
    width: 27.5%;
    margin-right: 7.5%; 
    position: fixed;
    right: 0;
    margin-top: 280px;
}

.switch-container {
    float: right;
    padding: 0;
    margin: 0;
}

.post-new textarea {
    width: 82%;
    margin: 0 9%;
    margin-top: 20px;
    padding: 5px 10px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 5px;
    outline: none;
}

.welcome-page {
    width: 47.5%;
    margin-left: 10%;
    text-align: center;
}

/* switch for demo or post */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-left: 5px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(96, 114, 131);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* card for posts */

.card {
    max-width: 682px;
    min-width: 682px;
    width: 47.5%;
    margin-left: 10%;
    border: 1px solid rgb(242, 242, 242);
    background-color: #f8f8f8;
    margin-bottom: 15px;
}

.post_image,
.post_video {
    width: 100%;
}

.card a {
    color: #60728d;
    text-decoration: none;
    font-size: 1.4rem;
}

.card-body {
    width: 100%;
}

.fa-heart,
.fa-comment {
    font-size: 18px;
    color: rgb(96, 114, 131);
}

.head {
    margin-bottom: 0.5rem;
    width: 100%;
}

.post-avatar {
    width: 10%;
    max-width: 10%;
    display: inline;
    margin-right: 1%;
}

.post-title {
    margin-left: 1%;
    width: 90%;
    float: right;
}

.post-title p {
    margin: 0;
}

.post-date {
    font-size: 0.8rem;
}

.post-thumbnail {
    border-radius: 50%;
    width: 50px;
}

.post-content {
    margin-bottom: 1px;
}

.post-stats {
    margin-top: 5px;
    width: 100%;
    display: flex;
}

.like-modal-user {
    display: flex;
}

.like-stats {
    width: 50%;
    margin-left: 2%;
    cursor: pointer;
}

.comment-stats {
    width: 50%;
    text-align: end;
    margin-right: 2%;
    cursor: pointer;
}

.post-interactions {
    display: flex;
    width: 100%;
    padding-bottom: 0;
    margin-top: 15px;
}

hr { 
    margin-top: 0;
    padding-top: 0;
}

.likes,
.comments {
    width: 50%;
    text-align: center;
    
}

.likes p, 
.comments p {
    font-weight: 700;
}

.likes a {
    text-decoration: none;
    color: rgb(96, 114, 131);
    font-size: 1rem;
}

.comments {
    color: rgb(96, 114, 131);
    font-size: 1rem;
    cursor: pointer;
}

.reply-content {
    width: 80%;
    margin: 0 10%;
    display: flex;
}

.reply-content a {
    font-size: 1rem;
}

.reply-head {
    width: 8%;
    min-width: 8%;
}

.reply-content-thumbnail {
    border-radius: 50%;
    min-width: 70%;
    max-width: 70%;
}

.reply-body p {
    display: inline-block;
    border-radius: 25px;
    padding: 10px 15px;
    background-color: rgb(242, 242, 242);
}

.comment-content {
   width: 90%;
   margin: 0 5%;
   display: flex;
}

.comment-content a {
    font-size: 1rem;
}

.content-head {
    min-width: 8%;
    width: 8%;
}

.comment-content-thumbnail {
    border-radius: 50%;
    min-width: 70%;
    max-width: 70%;
}

.content-body p {
    display: inline-block;
    border-radius: 25px;
    padding: 10px 15px;
    background-color: rgb(242, 242, 242);
    margin-bottom: 0;
}

.reply-action {
    width: 90%;
    margin: 0 5%;
}

.reply-action h6 {
    font-size: 0.8rem;
    font-weight: normal;
    margin-left: 11%;
    cursor: pointer;
}

.replying {
    display: none;
    margin-bottom: 10px;
}

.replying-body {
    width: 80%;
    margin: 0 10%;
    display: grid;
    grid-template-columns: 8% 92%; 
}

.replying-head {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
}

.replying-thumbnail {
    border-radius: 50%;
    width: 70%;
    margin-left: auto;
}

.reply-form {
    width: 100%;
}

.reply-form input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 40px;
    border: none;
    outline: none;
}

.comment-form {
    width: 90%;
    margin: 0 5%;
    display: grid;
    grid-template-columns: 8% 92%;
}

.comments-section {
    display: none;
}

.comment-head {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
}

.comment-body {
    width: 100%;
}

.comment-thumbnail {
    border-radius: 50%;
    width: 70%;
    margin-left: auto;
}

.comment-form input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 40px;
    border: none;
    outline: none;
}

.post-actions {
    display: inline-flex;
    width: 100%;
    align-items: baseline;
    justify-content: flex-end;
    padding-right: 9%;
    margin: 0;
}

.fa-image, .fa-film {
    font-size: 30px;
}

.post-submit {
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(96, 114, 131);
    margin-left: 15px;
}

/* Explore Section */

.demo-case {
    width: 100%;  
    column-count: 3; 
    padding: 3%; 
}

.demo-info,
.demo-description {
    display: none;
}

.demo-video {
    width: 100%;
    border-radius: 15px;
}


/* Login section styles */

.login {
    width: 100%;
    height: 100vh;
    background-color: rgb(242, 242, 242);
}

.login-logo {
    padding-top: 50px;
}

.login-form {
    width: 35%;
    position: fixed;
    right: 0;
    margin-top: 90px;
    margin-right: 8%;
    border: 1px solid rgb(242, 242, 242);
    text-align: center;
    background-color: white;
    z-index: 3;
    border-radius: 25px;
    padding-bottom: 50px;
}

.login-form input {
    border-radius: 5px;
    padding: 10px 15px;
    width: 85%;
    border: 1px solid rgb(242, 242, 242);
    margin-top: 50px;
}

.login-form a {
    color: #60728d;
    text-decoration: none;
}

.login-form a:hover {
    color: rgb(80, 80, 242);
}

.login-button {
    background-color: #60728d;
    color: white;
    margin-bottom: 50px;
}

.carousel {
    width: 100%;
    z-index: 1;
}

.signup-form {
    width: 100%;
}

.signup-form input {
    border-radius: 5px;
    padding: 10px 15px;
    width: 49%;
    border: 1px solid rgb(242, 242, 242);
    margin-bottom: 25px;
}   

.signup-form .actions {
    width: 100%;
    text-align: center;
}

.signup-button { 
    background-color: #60728d;
    color: white;
    margin: 50px 0;
}

/* focus */
.active i {
    color: rgb(96, 114, 131);
}

/* Update Profile Page Styles */ 

.fields {
    display: grid;
    width: 90%;
    padding-top: 25px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 5%;
    grid-template-columns: 25% 30% 30%;
    grid-template-rows: 140px 150px 100px 100px 100px;
    gap: 15px 10px;
    background-color: rgb(242, 242, 242);
}

.fields input {
    margin-left: 10%;
    width: 80%;
}

.fields label {
    margin-left: 10%;
    width: 80%;
}

.fields textarea {
    width: 90%;
    margin-left: 5%;
    height: 120px;
}

#user_avatar {
    text-align: center;
    margin: 0;
    width: 200px;
}

.update-avatar {
    width: 200px;
}

.avatar-field {
    text-align: center;
}

.avatar-submit {
    color: white;
    background-color: #60728d;
    border-radius: 5px;
    margin-right: 15%;
    margin-left: 0;
}

.description-field {
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
}

.username,
.email {
    margin-top: 25px;
}

.description-field label {
    margin-left: 5%;
}

.password-field {
    grid-column-start: 2;
    grid-column-end: 3;
}

.mobile-name,
.mobile-description,
.mobile-password,
.add_span,
.mobile-carousel,
.mobile-menu,
.edit-mobile,
.demo-form {
    display: none;
}

.cancel-account {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    text-align: center;
    padding-top: 30px;
}

.cancel-account a {
    outline: none;
    color: rgb(96, 114, 131);
    text-decoration: none;
}

.min-chars {
    margin-left: 10%;
}

.password-confirmation-field {
    grid-column-start: 3;
    grid-column-end: 4;
}

.confirm-update-field {
    grid-column-start: 2;
    grid-column-end: 3;
}

.confirm-ad {
    margin-left: 10%;
}

.button-actions {
    grid-column-start: 3;
    grid-column-end: 4;
}

.submit-update {
    color: white;
    background-color: #60728d;
    border-radius: 5px;
}

.back-field {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    padding-top: 30px;
}

.back-field a {
    outline: none;
    color: rgb(96, 114, 131);
    text-decoration: none;
}

.back-field a:hover {
    color: rgb(80, 80, 242);
}

.invisible-input {
    margin-right: 10%;
}

#back2Top {
    display: none;
}

/* Responsiveness */

@media only screen and (max-width: 1450px) {
    .search-section, 
    .post-new {
        margin-right: 7.5%;
    }

    .card, 
    .welcome-page {
        margin-left: 7.5%;
    }
}

  @media only screen and (max-width: 1250px) {
    .profile-post-wrapper {
        width: 70%;
    }

    .search-section, 
    .post-new {
        position: relative;
        max-width: 682px;
        min-width: 682px;
        width: 47.5%;
        margin: 0 auto;
        margin-bottom: 15px;   
    }

    .demo {
        height: 50px;
        position: relative;
        max-width: 682px;
        min-width: 682px;
        width: 47.5%;
        margin: 0 auto;
    }

    .search-section {
        height: 112px;
    }

    .card {
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .welcome-page {
        margin: 0 auto;
    }

    .welcome {
        margin-top: 20px;
    }    

    .fields {
        display: grid;
        width: 90%;
        padding-top: 25px;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: 5%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 140px 100px 150px 50px 50px 50px;
        gap: 15px 10px;
        background-color: rgb(242, 242, 242);
    }

    .description-field,
    .desktop-name,
    .details,
    .password-field,
    .password-confirmation-field,
    .confirm-update-field {
        display: none;
    }

    .mobile-description {
        display: block;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .mobile-description textarea {
        width: 80%;
        margin-left: 10%;
        height: 210px;
    }

    .mobile-description label {
        width: 80%;
        margin-left: 10%;
    }

    .mobile-name {
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .mobile-password {
        display: block;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    } 
    
    .button-actions {
        width: 100%;
        margin-left: 0;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .button-actions input {
        margin-left: 0;
        width: 50%;
    }

    .back-field {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
        padding-top: 0;
    }

    .cancel-account {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
        padding-top: 0;
    }

    #back2Top {
        width: 40px;
        border-radius: 50%;
        overflow: hidden;
        z-index: 999;
        display: none;
        cursor: pointer;
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: rgb(242, 242, 242);
        color: rgb(151, 169, 188);
        text-align: center;
        font-size: 30px;
        text-decoration: none;
        z-index: 2;
    }
    #back2Top:hover {
        color: rgb(96, 114, 131);
    }

}  

@media only screen and (max-width: 1100px) {
    .demo-case {
        column-count: 2; 
    }
}

@media only screen and (max-width: 995px) {


    .profile-post-wrapper {
        width: 80%;
    }

    .avatar-section {
        padding-left: 4%;
    }

    .navbar-nav {
        display: none;
    }

    .nav {
        display: flex;
    }

    .navbar {
        padding: 10px 10%;
    }

    .footer {
        display: block;
        position: fixed;
        bottom: 0;
        z-index: 3;
        background-color: rgb(242, 242, 242);
        width: 100%;
        padding: 10px 0;
        margin-bottom: 0;
    }

    .footer-search-section {
        display: none;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .footer input {
        width: 80%;
        margin: 0 10%;
        border-radius: 60px;
        border: none;
        padding: 5px 10px;
        outline: none;
    }

    .foot-search {
        cursor: pointer;
    }

    .footer ul {
        display: flex;
        margin-bottom: 0;
        justify-content: space-around;
        padding-left: 0;
    }

    .footer li {
        list-style-type: none;
    }

    .mobile-menu {
        position: absolute;
        right: 0px;
        bottom: 52px;
        min-width: 200px;
        height: 100px;
        min-height: 100px;
        background-color: rgb(242, 242, 242);
        border-radius: 10px;
        z-index: 3;
    }

    .mobile-menu ul {
        display: block;
    }
    
    .mobile-menu li {
        list-style-type: none;
        margin-bottom: 10px;
        text-decoration: none;
        padding: 5px 10px;
    }
    
    .mobile-menu li:hover {
        background-color:rgb(193, 193, 193);
        border-radius: 5px;
    }
    
    .mobile-menu a {
        outline: none;
        text-decoration: none;
        color: rgb(110, 127, 145);
        font-weight: bold;
    }
    
    .mobile-menu-list {
        
        padding: 10px 10px 20px 0;
        margin-left: 10px;
    }

    body:last-child {
        margin-bottom: 85px;
    }

    .search-section {
        display: none;
    }

    .post-new {
        height: 180px;
    }

    .post-new textarea {
        height: 105px;
    }

    #back2Top {
        bottom: 60px;
        right: 10px;
    }

    .desktop-carousel {
        display: none;
    }

    .mobile-carousel {
        display: block;
    }

    .login-form {
        display: block;
        width: 75%;
        margin: 0 12.5%;
        margin-top: 50px;
    }

    .profile {
        padding: 40px 5%;
    }

    .details-section {
        margin-right: 4%;
    }

    .details-section ul {
        text-align: center;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 700px) {
    .demo-case {
        column-count: 1; 
    }

    .profile-post-wrapper {
        width: 100%;
    }

    .profile {
        padding: 40px 0;
    }

    .card {
        width: 100%;
        min-width: 600px;
        max-width: 700px;
        margin-left: 0;
        margin-right: 0;
    }

    .welcome-page {
        width: 100%;
    }

    .post-new {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        min-width: 600px;
        max-width: 700px;
        height: 125px;
    }

    .demo {
        width: 99%;
        margin-left: 0;
        margin-right: 0;
        min-width: 600px;
        max-width: 700px;
    }

    .feed {
        padding-top: 15px;
    }

    .post-new textarea {
        height: 50px;
    }

    .navbar {
        padding: 10px 15px;
    }

    .post_image,
    .post_video {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .post-title {
        width: 85%;
    }

    .fields {
        display: block;
    }

    .back-field {
        margin-top: 15px;
        padding-bottom: 20px;
    }

    .edit-button {
        display: none;
    }

    .edit-mobile {
        border-radius: 5px;
        display: flex;
        height: 35px;
        width: 80%;
        text-align: center;
        margin: 10px 9.5% 20px 9.5%;
        padding: 10px 0 20px 0;
        border: 1px solid rgb(193, 193, 193);
        align-items: center;
        justify-content: center;
        color: black;
    }

    .edit-button-mobile {
        padding: 3px 10px;
        color: black;
        text-decoration: none;
        padding-top: 10px;
    }

    .edit-button-mobile a {
        color: black;
        outline: none;
    }
}

@media only screen and (max-width: 600px) {
    .post-new, 
    .card,
    .demo {
        min-width: 500px;
        max-width: 600px;
    }

    .post_image,
    .post_video {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 500px) {
    .post-new, 
    .card,
    .demo {
        min-width: 400px;
        max-width: 500px;
    }

    .post_image,
    .post_video {
        width: 100%;
        height: 300px;
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width: 400px) {
    .post-new, 
    .card,
    .demo {
        min-width: 300px;
        max-width: 400px;
    }
    
    .post_image,
    .post_video {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .post-thumbnail {
        border-radius: 50%;
        width: 40px;
    }
}

@media only screen and (max-width: 330px) {
    .post-new, 
    .card,
    .demo {
        min-width: 300px;
        max-width: 330px;
    }

    .post_image,
    .post_video {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

